<html>
  <head>
    <img height="53" width="162" src="https://reliefukraine.net/assets/img/logo-reliefukraine.png" alt="raito">
  </head>
<body>
  <div>
    {{{body}}}
  </div>
</body>
  <footer>
    <div>
      <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border-style:none;">
        <tbody>
          <tr>
            <td>
              <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;"><span lang="es" style="font-size:9pt;">Rare Diseases Hub Ukraine</span><span lang="es" style="font-size:9pt;"></span></p>
            </td>
          </tr>
          <tr>
            <td>
              <p style="font-size:11pt;font-family:Calibri,sans-serif;vertical-align:baseline;margin:0;">
              <span lang="es" style="font-size:9pt;"><a href="mailto:rarediseaseshub4ua@sjd.es" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><span style="color:#0563C1;">rarediseaseshub4ua</span><span style="color:#0563C1;">@sjd.es</span></a>
              </span><span lang="es" style="font-size:9pt;"></span></p>
            </td>
          </tr>
          <tr>
            <td>
              <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;"><span lang="es" style="font-size:9pt;"><a href="https://reliefukraine.net" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><span style="color:#0563C1;">www.reliefukraine.net</span></a></span><span lang="es" style="font-size:9pt;"></span></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </footer>
</html>
