<p>Dear {{userName}},</p>
<p><strong>Thanks for registering!!</strong></p>
<p>You just need to follow this link to activate the account: <a href="{{client_server}}/login?email={{email}}&key={{key}}">Activate account</a></p>
<p>Best regards,</p>
