<p>Estimado/a {{userName}},</p>
<p><strong>Gracias por registrarse!</strong></p>
<p>Haga clic en el siguiente enlace para activar la cuenta: <a href="{{client_server}}/login?email={{email}}&key={{key}}">Activar cuenta</a></p>
<p>Saludos cordiales,</p>
