<p>Шановний/на {{userName}},</p>
<p><strong>Дякуємо за реєстрацію!</strong></p>
<p>Перейдіть за посиланням щоб активувати обліковий запис: <a href="{{client_server}}/login?email={{email}}&key={{key}}">Aктивувати обліковий запис</a></p>
<p>найкращими побажаннями,</p>
