<p>Dear {{userName}},</p>
<p>We would like to inform you that your case has been initiated.</p>
<p>According to the information you have filled in the log in form that your disease does not correspond to any of the currently Organizations actively engaged in Relief Ukraine. We are trying to reach other Organizations that might be related to your disease through European Organizations. If any Organization can handle your case, which unfortunately we cannot guarantee, we will inform you.</p>
<p>If you have a suggestion, please, respond to this email.</p>
<p>Best regards,</p>