<p>Estimado/a {{userName}},</p>
<p>Nos gustaría informarle que su caso ha sido iniciado.</p>
<p>De acuerdo con la información que ha rellenado en el formulario de inicio de sesión, su enfermedad no corresponde a ninguna de las organizaciones que actualmente participan activamente en Relief Ukraine. Estamos intentando llegar a otras Organizaciones que puedan estar relacionadas con su enfermedad a través de Organizaciones Europeas. Si alguna Organización puede manejar su caso, que lamentablemente no podemos garantizar, le informaremos.</p>
<p>Si tiene alguna sugerencia, por favor, responda a este correo electrónico.</p>
<p>Saludos cordiales,</p>