<p>Шановний/на {{userName}},</p>
<p>Повідомляємо що ваш запит в обробленні.</p>
<p>Зважаючи на інформацію яку ви подали при реєстрації, типом вашого захворювання не займається жодна організація яка співпрацює з Relief Ukraine на даний момент. Ми намагаємося зв’язатися з іншими організаціями, які займаються типом вашого захворювання через European Organization. Якщо якась організація візьметься за ваш випадок, що ми не можемо гарантувати, ми сповістимо вас.</p>
<p>Якщо ви маєте пропозиції, будь ласка, дайте відповідь на ций лист.</p>
<p>найкращими побажаннями,</p>