<p>Estimado/a {{userName}},</p>
<p>Nos gustaría informarle que su caso está en curso. “{{group}}” está gestionando su caso y este correo es para informarle que el estado del caso ahora es el siguiente: “{{status}}”. </p>
<p>Si tiene alguna pregunta, póngase en contacto con la organización a través de Relief Ukraine o utilizando su dirección de correo electrónico: {{groupEmail}}. </p>
<p>Saludos cordiales,</p>