<p>Шановний/на {{userName}},</p>
<p>Ми хочемо повідомити вас що “{{group}}”  продовжує працювати з вашим запитом. Вони оновили статус по вашій справі: “{{status}}”. </p>
<p>Якщо у вас залишилися запитання, будь ласка зв'яжіться з організацією Relief Ukraine чи скористайтеся е-мейл адрессою: {{groupEmail}}. </p>
<p>найкращими побажаннями,</p>